<div class="artist">
    <img src="img/{{asset img}}"/>
    <p>
        <span class="name">{{name}}</span><br/>
        {{#if interview}}<span class="ask">Five questions with <a title="Interview with {{name}}" href="{{interview}}">{{first}}</a></span><br/>{{/if}}
        Visit <a href="{{link.name}}" target="blank">{{link.link}}</a>
    </p>
</div>

