{{#if link }}
<a class="last-artist" href="{{link}}" target="_blank">
    <img src="img/{{asset img}}" />
    <p>{{name}}</p>
</a>
{{else}}
<div class="last-artist">
    <img src="img/{{asset img}}" />
</div>
{{/if}}